@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700;800;900&family=Open+Sans&display=swap');

// type
$base-font-family: 'Vollkorn', 'Helvetica Neue', helvetica, arial, sans-serif;
$alt-font-family: 'Open Sans';

// color
$background-color: #fbf0d9;

// frame
$color-frame: rgba(0,0,0,0.25);
$color-frame-outer: rgba(95, 75, 50,0.5);
$frame-size: 8px;
$frame-border-size: 1px;
$frame-border-size-neg: -1px;
$frame-border-style: solid;

body {
  font-family: $base-font-family;
}

html, body {
  background-color: $background-color;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
}

// input
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
  padding: 4px 8px;
  caret-color: red;
  &:focus {
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
  }
}

// d-editor
.d-editor-button-bar {
  border-bottom: 0;
}

// img avatars
img.avatar {
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  filter: sepia(0.7);
}

// base
// base:alert
.alert.alert-info {
  background-color: var(--secondary, $secondary);
}

// base:user-card
#user-card, #group-card {
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
}

// base:compose
#reply-control {
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
  .grippie {
    background-color: transparent;
    &:before {
      border-top-color: var(--primary, $primary);
    }
  }
  .reply-to {
    color: var(--primary, $primary);
  }
}

.composer-popup {
  box-shadow: none;
}

// base:directory
.directory table td {
  border-color: $color-frame;
}

// base:discourse
.discourse-no-touch .sortable:hover, .discourse-no-touch .sortable:focus {
  background-color: var(--highlight-medium, $highlight);
}

// base:modal
.modal {
  .nav {
    background-color: transparent;
  }
  &:focus {
    outline: none;
  }
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.1);
}

.bootbox.modal, .modal-inner-container {
  background: #fff;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
}

.inline-modal {
  .modal-inner-container {
    //border: 0;
  }
}

.modal-header, .modal-footer {
  border: 0;
}

// base:groups
.groups-boxes .group-box {
  background-color: var(--secondary, $secondary);
}

.discourse-no-touch .groups-boxes .group-box:hover {
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
}

// base:header
.d-header {
  background-color: $background-color;
  box-shadow: none;

  .header-title {
    font-family: $base-font-family;
    font-weight: 900;
  }

  .d-header-icons {
    .icon {
      .d-icon { color: $primary; }
    }
    .icon:hover {
      background-color: rgba(255,255,255,0.1);
    }
    .active .icon {
      border-color: transparent;
      .d-icon { color: $primary; }
    }
  }
}

// base: menu-panel
.menu-panel {
  border: 0;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
}
.menu-panel li.category-link a:hover .category-name, .menu-panel li.category-link a:focus .category-name {
  color: $primary-very-low;
}

// base:tagging
.discourse-tag {
  text-shadow: none;
}
.discourse-tag.simple,
.discourse-tag.simple:visited,
.discourse-tag.simple:hover,
.select-kit .select-kit-row .discourse-tag,
.select-kit .select-kit-row .discourse-tag:visited,
.select-kit .select-kit-row .discourse-tag:hover {
  color: #5f4b32;
  font-weight: bold;
}
.discourse-tag:before {
  content: '#';
  color: rgba(95,75,50,0.5);
}

// base:topic
nav.post-controls .actions button:hover,
nav.post-controls .actions .double-button:hover button,
nav.post-controls .actions .double-button button.button-count+.toggle-like.d-hover,
nav.post-controls .show-replies:hover {
  background: $highlight-medium;
}

// base:topic-post
aside.quote .title {
  border-left: 0;
  background: rgba(255,255,255,0.25);
}

.moderator .regular>.cooked {
  background-color: $highlight;
  color: rgba(0,0,0,0.8);
}

#topic-title h1 {
  font-family: $base-font-family;
  font-weight: 900;
}

.topic-post {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 24px;
  padding-top: 1px;
  padding-bottom: 1px;
  article.boxed {
    margin: $frame-size;
    border: $frame-border-size $frame-border-style $color-frame;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    position: static;
    box-sizing: border-box;

    &:before, &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: $frame-size;
      height: $frame-size;
      border: $frame-border-size $frame-border-style $color-frame;
    }
    &:before {
      top: $frame-border-size-neg;
      left: $frame-border-size-neg;
      border-radius: 50% 50% 0 50%;
    }
    &:after {
      top: $frame-border-size-neg;
      right: $frame-border-size-neg;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      border-radius: 50% 50% 50% 0;
    }
  }
  &:before, &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: $frame-size;
    height: $frame-size;
    border: $frame-border-size $frame-border-style $color-frame;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  }
  &:before {
    bottom: $frame-border-size-neg;
    left: $frame-border-size-neg;
    border-radius: 50% 0 50% 50%;
  }
  &:after {
    bottom: $frame-border-size-neg;
    right: $frame-border-size-neg;
    border-radius: 0 50% 50% 50%;
  }
}

.topic-avatar, .topic-body {
  border-top: 0 none;
}

.topic-avatar {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.embedded-posts {
  border: 0;
  &.bottom .row {
    .topic-avatar, .topic-body {
      border-top: 1px solid $color-frame;
    }
  }
  .topic-avatar {
    padding-left: 8px;
  }
}

.gap {
  color: $primary;
  padding-left: 0;
}

.small-action {
  border-top: 0 none;
  max-width: 774px;
  .topic-avatar {
    display: none;
  }
  .small-action-desc {
    color: $primary;
  }
}

#topic-footer-buttons {
  .bookmark.bookmarked {
    .d-icon-bookmark { color: $background-color; }
    .discourse-no-touch & {
      &:hover,
      &.btn-hover {
        .d-icon-bookmark { color: $primary; }
      }
    }
  }
}

.topic-status-info {
  border-top: 0 none;
  &:empty {
    display: none;
  }
}

// base:topic-list
.show-more.has-topics {
  position: static;
  font-weight: 900;
}

section.tag-info {
  padding: 0;
}

.topic-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  hr.topic-list-item-separator {
    overflow: visible; /* For IE */
    padding: 0;
    border: 0;
    height: 2px;
    background-color: $success;
    text-align: center;
  }
  hr.topic-list-item-separator:after {
    content: attr(data-message);
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.5em;
    font-weight: 900;
    color: $quaternary;
    background-color: $background-color;
  }
  .topic-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding: 4px 0;
    margin-bottom: 8px;
    border-radius: 0;

    &.visited {
      .main-link .link-top-line .topic-statuses .d-icon {
        color: $primary-medium;
      }
    }

    .main-link {
      display: flex;
      flex-direction: column;
      line-height: 1.71;
      .link-top-line {
        .topic-statuses .d-icon {
          color: $primary;
        }
      }
      .link-bottom-line {
        color: rgba(95,75,50,0.5);
        line-height: 1;
        .num {
          font-family: $alt-font-family;
          font-size: 0.875em;
          display: flex;
          width: auto;
          margin-right: 8px;
          a {
            padding: 0;
          }
          .d-icon {
            padding-right: 4px;
          }
        }
        .views {
          width: auto;
          margin-right: 8px;
        }
        .discourse-tag {
          margin-right: 4px;
        }
      }
    }
    .fill {
      flex: 1;
    }
    .secondary {
    }
  }
}

div.education {
  // color: rgba(255,255,255,0.8);
  padding: 0;
  border-color: var(--primary, $primary);
}

// base: categories-only
.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  .category, .topics, .latest {
    display: flex;
    flex-direction: column;
  }
  &.with-topics .category {
    width: auto;
  }
  .category-name {
    color: $success;
    font-family: $base-font-family;
  }
  .category .category-description {
    font-family: $alt-font-family;
    font-size: 0.875em;
    line-height: 1.71em;
    color: rgba(95,75,50,0.5);
  }
  .topics {
    width: auto;
  }
  .featured-topic:first-of-type {
    margin-top: 8px;
  }
  .featured-topic:last-of-type {
    margin-bottom: 8px;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-right: 24px;
    margin-bottom: 24px;
    .item {
      flex: 1;
      padding: 4px 8px;
      margin: $frame-size;
      border: $frame-border-size $frame-border-style $color-frame;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);

      &:before, &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: $frame-size;
        height: $frame-size;
        border: $frame-border-size $frame-border-style $color-frame;
      }
      &:before {
        top: $frame-border-size-neg;
        left: $frame-border-size-neg;
        border-radius: 50% 50% 0 50%;
      }
      &:after {
        top: $frame-border-size-neg;
        right: $frame-border-size-neg;
        box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
        border-radius: 50% 50% 50% 0;
      }
    }
    &:before, &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: $frame-size;
      height: $frame-size;
      border: $frame-border-size $frame-border-style $color-frame;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }
    &:before {
      bottom: $frame-border-size-neg;
      left: $frame-border-size-neg;
      border-radius: 50% 0 50% 50%;
    }
    &:after {
      bottom: $frame-border-size-neg;
      right: $frame-border-size-neg;
      border-radius: 0 50% 50% 50%;
    }
    .category-text-title {
      justify-content: center;
      .d-icon {
        color: $tertiary;
      }
    }
  }
  li:nth-child(3n) {
    margin-right: 0;
  }
  .category-box, .category-box-inner {
    border: 0;
  }
}

.categories-and-latest, .categories-and-top {
  .category-list {
    flex-direction: column;
    li {
      margin-right: 0;
      flex: 0 1 auto;
    }
  }
  .latest-topic-list, .top-topic-list {
    .table-heading {
      display: none;
    }
    .latest-topic-list-item {
      background-color: #000;
      margin-bottom: 8px;
    }
  }
}

.category-boxes, .category-boxes-with-topics {
  .category-box {
    background-color: #fff;
    margin: 0 8px 8px 0;
    border-left-width: 1px;
    .category-box-inner {
      border: 0;
      h3 {
        font-size: 1.17em;
      }
      h3, .d-icon {
        color: $tertiary;
      }
      .description {
        color: $primary;
      }
    }
  }
}

aside.onebox {
  border: none;
}

// base:search
.search-container {
  .search-advanced-sidebar {
    .search-advanced-title, .search-advanced-filters {
      background: #ffffff;
    }
    .search-advanced-filters {
    }
  }
}

// base:user
.user-content {
  background-color: transparent;
}

// components
// component:badges
.badge-notification.new-topic::before {
  width: 8px;
  height: 8px;
  border-radius: 25%;
  border: 1px solid rgba(0,0,0,0.25);
}

.badge-wrapper {
  .badge-category {
    .category-name {
      color: #61b67c;
      overflow: visible;
    }
  }
  &.box {
    padding: 0;
    .badge-category {
      .category-name {
        color: $primary-very-low;
        padding: 2px 4px;
      }
    }
    .badge-category-parent-bg, .badge-category-bg {
      border-radius: 4px;
      border: 1px solid rgba(0,0,0,0.25);
      filter: sepia(1);
    }
    .badge-category-parent-bg + .badge-category-bg {
      border-left: none;
    }
  }
}

.badge-wrapper.bullet, .badge-wrapper.bar {
  align-items: center;
  margin-right: 8px;

  span.badge-category {
    padding-top: 3px;
    font-weight: bold;
    overflow: visible;
  }
  .badge-category-parent-bg, .badge-category-bg {
    border-radius: 25%;
    border: 1px solid rgba(0,0,0,0.25);
    width: 8px;
  }
  .badge-category-parent-bg + .badge-category-bg {
    width: 8px;
  }
  .badge-category-parent-bg {
    margin-right: 2px;
  }
}

.badge-wrapper.bar {
  .badge-category-parent-bg, .badge-category-bg {
    width: 4px;
  }
}

.badge-group {
  background-color: $secondary;
  border: 0;
}

// component:buttons
.btn, a.btn[href], .btn.btn-default, .menu-panel .panel-body-bottom .btn.btn-default {
  font-weight: bold;
  color: $background-color;
  background-color: $primary;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
  //text-transform: uppercase;
  letter-spacing: .0892857143em;
  text-shadow: -1px 0 rgba(0,0,0,0.35), 0 -1px rgba(0,0,0,0.35), 1px 0 rgba(0,0,0,0.35), 0 1px rgba(0,0,0,0.35);
  padding-left: 8px;
  padding-right: 8px;

  .d-icon {
    color: $background-color;
    filter: drop-shadow(-0.5px 0 rgba(0,0,0,0.25)) drop-shadow(0 -0.5px rgba(0,0,0,0.25)) drop-shadow(1px 0 rgba(0,0,0,0.25)) drop-shadow(0 1px rgba(0,0,0,0.25));
  }

  .d-button-label {
    font-weight: bold;
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      background-color: $primary;
      box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
    }
  }
  &:active, &.btn-active {
    background: $primary;
  }
}

.btn.btn-icon.no-text {
  background-color: transparent;
  box-shadow: none;
  border: none;
  .d-icon {
    color: $primary;
    filter: none;
  }
  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      background-color: $highlight-medium;
      box-shadow: none;
    }
  }
}

.btn.btn-large {
  padding-left: 12px;
  padding-right: 12px;
}

.btn.btn-primary {
  background-color: $tertiary;
  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      background-color: $tertiary;
    }
  }
  &:active, &.btn-active {
    background-color: $tertiary;
  }
}

.btn.btn-danger {
  background-color: $danger;
  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      background-color: $danger;
    }
  }
  &:active, &.btn-active {
    background-color: $danger;
  }
}

// component: navs
.nav-pills, .admin-controls .nav-pills {
  font-weight: bold;
  letter-spacing: .0892857143em;
  >li {
    border: 1px solid rgba(0,0,0,0);
  }
  >li>a:hover, >li.active>a, >li>a.active {
      color: $background-color;
      background-color: $tertiary;
      border-color: rgba(0,0,0,0.25);
      border-radius: 4px;
      box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
      text-shadow: -1px 0 rgba(0,0,0,0.25), 0 -1px rgba(0,0,0,0.25), 1px 0 rgba(0,0,0,0.25), 0 1px rgba(0,0,0,0.25);
  }
}

.nav-pills>li>a .d-icon.d-icon-caret-down {
  margin-right: 0;
}

.nav-stacked {
  background: transparent;
  li { border-bottom: 0; }
  a.active {
    background-color: $tertiary;
  }
}

// foundation
// foundation: base
tbody {
  border-color: $primary;
}

// select-kit
.select-kit {
  .select-kit-header {
    box-shadow: none;
    text-shadow: none;
  }
  // category-chooser
  &.combo-box.category-chooser {
    .select-kit-header {

    }
  }
  // combo-box
  &.combo-box {
    &.category-drop {
      .select-kit-header {
        .badge-wrapper.box {
          .badge-category-bg {
            background-color: transparent !important;
            border: none;
          }
        }
        .badge-wrapper.bullet {
          .category-name {
            color: white;
          }
        }
      }
    }
    .select-kit-body {
      box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
    }
  }
  // composer-actions
  &.dropdown-select-box.composer-actions {
    .select-kit-header {
      border-color: transparent;
    }
  }
  &.multi-select.is-expanded, &.dropdown-select-box {
    .select-kit-body {
      border: none;
      box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
    }
  }
  // toolbar-popup-menu-options
  &.dropdown-select-box.toolbar-popup-menu-options {
    .select-kit-header {
      .d-icon {
        color: $primary;
      }
      .discourse-no-touch & {
        &:hover,
        &.btn-hover {
          .d-icon {
            color: $primary;
          }
        }
      }
    }
  }
  // period-chooser
  &.dropdown-select-box.period-chooser {
    .btn.select-kit-header {
      box-shadow: none;
    }
    .select-kit-body {
      box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
    }
    .period-chooser-header {
      h2.selected-name {
        font-size: $base-font-size;
        font-family: $base-font-family;
        text-shadow: none;
      }
      .d-icon {
        margin: 0 0 10px 0;
        padding-left: 0;
        filter: none;
      }
    }
  }
}

// topic-timeline
.timeline-container .topic-timeline {
  .timeline-scrollarea {
    border-color: rgba(0,0,0,0.25);
  }
  .timeline-handle {
    background-color: $tertiary;
  }
}

#topic-progress {
  color: #000;
}

#topic-progress .bg {
  background-color: $tertiary;
}

// admin
.user-main {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}
